In [328]:
# Import Libraries and Dependencies
import pandas as pd
import json

### 1. Combine and Clean the Data
#### Import CSVs

In [329]:
# Read the CSV files into DataFrames.
df_2020 = pd.read_csv("athletic_sales_2020.csv")
df_2021 = pd.read_csv("athletic_sales_2021.csv")
df = pd.concat([df_2020, df_2021])

In [330]:
# Display the 2020 sales DataFrame

print("2020 Sales DataFrame:")
print(df_2020.head(), '\n')  # Display the first 5 rows of the 2020 sales data

# Display the first 5 rows

print(df_2020.head().to_markdown(index=False, numalign="left", stralign="left"))

# Print the column names and their data types

print("Column names and their data types in the combined DataFrame:")

2020 Sales DataFrame:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732     1/1/2020  Northeast      New York
1  Foot Locker      1185732     1/1/2020  Northeast  Pennsylvania
2  Foot Locker      1185732     1/1/2020  Northeast  Pennsylvania
3  Foot Locker      1185732     1/1/2020  Northeast      New York
4  Foot Locker      1185732     1/1/2020  Northeast  Pennsylvania

           city           product_type  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

| retailer    | retailer_id   | invoice_date   | region    | state        | city         | product_type          | price_per_unit   | units_sold   | total_sales   | operating_profit   | sales_method   |
|:------------|:--------------|:---------------|:----------|:-------------|:-------------|:----------------------|:-----------------|:-------------|:--------------|:-------------------|:---------------|
| Foot Locker | 1185732       | 1/1/2020       | Northeast | New York     | New York     | Men's Street Footwear | 50               | 1200         | 600000        | 300000             | In-store       |
| Foot Locker | 1185732       | 1/1/2020       | Northeast | Pennsylvania | Philadelphia | Women's Apparel       | 68               | 83           | 5644          | 2426.92            | Online         |
| Foot Locker | 1185732       | 1/1/2020       | Northeast | Pennsylvania | Philadelphia | Women's Apparel       | 75               | 275          | 206250        | 61875              | Outlet         |
| Foot Locker | 1185732       | 1/1/2020       | Northeast | New York     | New York     | Men's Street Footwear | 34               | 384          | 13056         | 6789.12            | Outlet         |
| Foot Locker | 1185732       | 1/1/2020       | Northeast | Pennsylvania | Philadelphia | Women's Apparel       | 53               | 83           | 4399          | 1407.68            | Outlet         |
Column names and their data types in the combined DataFrame:

In [331]:
# Display the 2021 sales DataFrame

print("2021 Sales DataFrame:")
print(df_2021.head(), '\n')  # Display the first 5 rows of the 2020 sales data

# Display the first 5 rows

print(df_2021.head().to_markdown(index=False, numalign="left", stralign="left"))

# Print the column names and their data types

print("Column names and their data types in the combined DataFrame:")

2021 Sales DataFrame:
    retailer  retailer_id invoice_date   region       state           city  \
0  West Gear      1128299     1/1/2021     West  California  San Francisco
1  West Gear      1128299     1/1/2021     West  California  San Francisco
2     Kohl's      1189833     1/1/2021  Midwest     Montana       Billings
3     Kohl's      1189833     1/1/2021  Midwest     Montana       Billings
4  West Gear      1128299     1/1/2021     West  California  San Francisco

              product_type  price_per_unit  units_sold  total_sales  \
0  Men's Athletic Footwear              65         750       487500
1  Men's Athletic Footwear              51         233        11883
2            Men's Apparel              50         275       137500
3            Men's Apparel              47          77         3619
4  Men's Athletic Footwear              64         225        14400

   operating_profit sales_method
0         121875.00       Outlet
1           3208.41       Outlet
2          82500.00       Outlet
3           2714.25       Online
4           5184.00       Online

| retailer   | retailer_id   | invoice_date   | region   | state      | city          | product_type            | price_per_unit   | units_sold   | total_sales   | operating_profit   | sales_method   |
|:-----------|:--------------|:---------------|:---------|:-----------|:--------------|:------------------------|:-----------------|:-------------|:--------------|:-------------------|:---------------|
| West Gear  | 1128299       | 1/1/2021       | West     | California | San Francisco | Men's Athletic Footwear | 65               | 750          | 487500        | 121875             | Outlet         |
| West Gear  | 1128299       | 1/1/2021       | West     | California | San Francisco | Men's Athletic Footwear | 51               | 233          | 11883         | 3208.41            | Outlet         |
| Kohl's     | 1189833       | 1/1/2021       | Midwest  | Montana    | Billings      | Men's Apparel           | 50               | 275          | 137500        | 82500              | Outlet         |
| Kohl's     | 1189833       | 1/1/2021       | Midwest  | Montana    | Billings      | Men's Apparel           | 47               | 77           | 3619          | 2714.25            | Online         |
| West Gear  | 1128299       | 1/1/2021       | West     | California | San Francisco | Men's Athletic Footwear | 64               | 225          | 14400         | 5184               | Online         |
Column names and their data types in the combined DataFrame:

#### Check the data types of each DataFrame

In [332]:
# Check the 2020 sales data types.

try:
    df_2020 = pd.read_csv(file_path)
    print("Data loaded successfully.")
except Exception as e:
    print(f"Failed to load data: {e}")

#  Display the first few rows to verify content
print("\nFirst few rows of the 2020 sales data:")
print(df_2020.head())

Data loaded successfully.

First few rows of the 2020 sales data:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732     1/1/2020  Northeast      New York
1  Foot Locker      1185732     1/1/2020  Northeast  Pennsylvania
2  Foot Locker      1185732     1/1/2020  Northeast  Pennsylvania
3  Foot Locker      1185732     1/1/2020  Northeast      New York
4  Foot Locker      1185732     1/1/2020  Northeast  Pennsylvania

           city           product_type  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [333]:
# Check the 2021 sales data types.
try:
    df_2021 = pd.read_csv(file_path)
    print("Data loaded successfully.")
except Exception as e:
    print(f"Failed to load data: {e}")

#  Display the first few rows to verify content
print("\nFirst few rows of the 2020 sales data:")
print(df_2021.head())

Data loaded successfully.

First few rows of the 2020 sales data:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732     1/1/2020  Northeast      New York
1  Foot Locker      1185732     1/1/2020  Northeast  Pennsylvania
2  Foot Locker      1185732     1/1/2020  Northeast  Pennsylvania
3  Foot Locker      1185732     1/1/2020  Northeast      New York
4  Foot Locker      1185732     1/1/2020  Northeast  Pennsylvania

           city           product_type  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

#### Combine the sales data by rows.

In [334]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.

# Define the file paths
file_path_2020 = 'athletic_sales_2020.csv'
file_path_2021 = 'athletic_sales_2021.csv'

def load_and_combine_data(file_path1, file_path2):
    """Loads data from two CSV files and combines them."""
    try:
        # Load the data from both files
        data1 = pd.read_csv(file_path1)
        data2 = pd.read_csv(file_path2)

        # Combine the two DataFrames into one
        combined_data = pd.concat([data1, data2], ignore_index=True)
        return combined_data
    except Exception as e:
        print(f"Error loading or combining data: {e}")
        return None

def main():
    # Load and combine the 2020 and 2021 data
    combined_df = load_and_combine_data(file_path_2020, file_path_2021)
    
    if combined_df is not None:
        # Reset the index of the combined DataFrame
        combined_df.reset_index(drop=True, inplace=True)
        
        # Display the first few rows to verify that the data has been combined and the index reset
        print("\nCombined DataFrame with reset index:")
        print(combined_df.head())

        # Comment out or remove the following line to stop printing data types
        # print("\nData types of the combined DataFrame:")
        # print(combined_df.dtypes)
if __name__ == "__main__":
    main()

Combined DataFrame with reset index:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732     1/1/2020  Northeast      New York
1  Foot Locker      1185732     1/1/2020  Northeast  Pennsylvania
2  Foot Locker      1185732     1/1/2020  Northeast  Pennsylvania
3  Foot Locker      1185732     1/1/2020  Northeast      New York
4  Foot Locker      1185732     1/1/2020  Northeast  Pennsylvania

           city           product_type  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [335]:
# Check if any values are null.

null_check = df.isnull().any()
print(null_check)

retailer            False
retailer_id         False
invoice_date        False
region              False
state               False
city                False
product_type        False
price_per_unit      False
units_sold          False
total_sales         False
operating_profit    False
sales_method        False
dtype: bool

In [336]:
# Check the data type of each column
column_data_types = df.dtypes
print(column_data_types)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product_type         object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [337]:
# Convert the "invoice_date" to a datetime datatype
df['invoice_date'] = pd.to_datetime(df['invoice_date'])

In [338]:
# Confirm that the "invoice_date" data type has been changed.
print("Data type of 'invoice_date':", df['invoice_date'].dtype)

Data type of 'invoice_date': datetime64[ns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [339]:
# Rename the sum to "Total_Products_Sold".
products_sold = df.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index(name='Total_Products_Sold')

# Display the results

print(products_sold)

# Group the data by 'region', 'state', and 'city', and count the number of products sold in each group

products_sold = df.groupby(['region', 'state', 'city']).size().reset_index(name='Total_Products_Sold')

# Show the top 5 results.

top_products_sold = products_sold.nlargest(5, 'Total_Products_Sold')
print(top_products_sold)

       region           state            city  Total_Products_Sold
0     Midwest        Illinois         Chicago                25407
1     Midwest         Indiana    Indianapolis                26332
2     Midwest            Iowa      Des Moines                23446
3     Midwest          Kansas         Wichita                29463
4     Midwest        Michigan         Detroit                50095
5     Midwest       Minnesota     Minneapolis                20415
6     Midwest        Missouri       St. Louis                36404
7     Midwest         Montana        Billings                42713
8     Midwest        Nebraska           Omaha                19154
9     Midwest    North Dakota           Fargo                22781
10    Midwest            Ohio        Columbus                47781
11    Midwest    South Dakota     Sioux Falls                22973
12    Midwest       Wisconsin       Milwaukee                23950
13  Northeast     Connecticut        Hartford                34696
14  Northeast        Delaware      Wilmington                30275
15  Northeast           Maine        Portland                22410
16  Northeast        Maryland       Baltimore                20818
17  Northeast   Massachusetts          Boston                32895
18  Northeast   New Hampshire      Manchester                40812
19  Northeast      New Jersey          Newark                26540
20  Northeast        New York          Albany                57186
21  Northeast        New York        New York               111954
22  Northeast    Pennsylvania    Philadelphia                27662
23  Northeast    Rhode Island      Providence                27473
24  Northeast         Vermont      Burlington                38685
25  Northeast   West Virginia      Charleston                29873
26      South         Alabama      Birmingham                63327
27      South        Arkansas     Little Rock                48468
28      South       Louisiana     New Orleans                57615
29      South     Mississippi         Jackson                56814
30      South        Oklahoma   Oklahoma City                40459
31      South       Tennessee       Knoxville                66077
32      South           Texas          Dallas                69178
33      South           Texas         Houston                90322
34  Southeast         Florida           Miami                73135
35  Southeast         Florida         Orlando                60295
36  Southeast         Georgia         Atlanta                56391
37  Southeast        Kentucky      Louisville                28664
38  Southeast  North Carolina       Charlotte                62936
39  Southeast  South Carolina      Charleston                72610
40  Southeast        Virginia        Richmond                52969
41       West          Alaska       Anchorage                30815
42       West         Arizona         Phoenix                46919
43       West      California     Los Angeles                76384
44       West      California   San Francisco                85478
45       West        Colorado          Denver                41378
46       West          Hawaii        Honolulu                40375
47       West           Idaho           Boise                63827
48       West          Nevada       Las Vegas                51831
49       West      New Mexico     Albuquerque                52633
50       West          Oregon        Portland                50536
51       West            Utah  Salt Lake City                48548
52       West      Washington         Seattle                46611
53       West         Wyoming        Cheyenne                50228
       region          state          city  Total_Products_Sold
13  Northeast    Connecticut      Hartford                  216
17  Northeast  Massachusetts        Boston                  216
18  Northeast  New Hampshire    Manchester                  216
21  Northeast       New York      New York                  216
22  Northeast   Pennsylvania  Philadelphia                  216

#### Using `pivot_table`

In [340]:
# Show the number products sold for region, state, and city.

# Create a pivot table to count the number of products sold by region, state, and city
pivot_table = df.pivot_table(index=['region', 'state', 'city'],
                             values='units_sold',  # This can be any column that exists in the DataFrame
                             aggfunc='count',  # Count the number of occurrences
                             fill_value=0)  # Fill missing values with 0

# Rename the aggregation result for clarity in the pivot table
pivot_table.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

#  Display the pivot table
print("Pivot Table Showing Total Products Sold by Region, State, and City:")
print(pivot_table)

#  Rename the "units_sold" column in the original DataFrame to "Total_Products_Sold"
df.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

#  Display the top 5 results from the original DataFrame
print("\nTop 5 Rows in the Original DataFrame After Renaming the Column:")
print(df.head(5))

Pivot Table Showing Total Products Sold by Region, State, and City:
                                         Total_Products_Sold
region    state          city
Midwest   Illinois       Chicago                         144
          Indiana        Indianapolis                    144
          Iowa           Des Moines                      144
          Kansas         Wichita                         144
          Michigan       Detroit                         144
          Minnesota      Minneapolis                     142
          Missouri       St. Louis                       144
          Montana        Billings                        144
          Nebraska       Omaha                           144
          North Dakota   Fargo                           144
          Ohio           Columbus                        144
          South Dakota   Sioux Falls                     144
          Wisconsin      Milwaukee                       144
Northeast Connecticut    Hartford                        216
          Delaware       Wilmington                      144
          Maine          Portland                        144
          Maryland       Baltimore                       144
          Massachusetts  Boston                          216
          New Hampshire  Manchester                      216
          New Jersey     Newark                          144
          New York       Albany                          144
                         New York                        216
          Pennsylvania   Philadelphia                    216
          Rhode Island   Providence                      216
          Vermont        Burlington                      216
          West Virginia  Charleston                      144
South     Alabama        Birmingham                      216
          Arkansas       Little Rock                     216
          Louisiana      New Orleans                     216
          Mississippi    Jackson                         216
          Oklahoma       Oklahoma City                   216
          Tennessee      Knoxville                       216
          Texas          Dallas                          216
                         Houston                         216
Southeast Florida        Miami                           144
                         Orlando                         216
          Georgia        Atlanta                         216
          Kentucky       Louisville                      144
          North Carolina Charlotte                       144
          South Carolina Charleston                      144
          Virginia       Richmond                        216
West      Alaska         Anchorage                       144
          Arizona        Phoenix                         216
          California     Los Angeles                     216
                         San Francisco                   213
          Colorado       Denver                          144
          Hawaii         Honolulu                        144
          Idaho          Boise                           216
          Nevada         Las Vegas                       216
          New Mexico     Albuquerque                     216
          Oregon         Portland                        216
          Utah           Salt Lake City                  216
          Washington     Seattle                         144
          Wyoming        Cheyenne                        144

Top 5 Rows in the Original DataFrame After Renaming the Column:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732   2020-01-01  Northeast      New York
1  Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
2  Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
3  Foot Locker      1185732   2020-01-01  Northeast      New York
4  Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania

           city           product_type  price_per_unit  Total_Products_Sold  \
0      New York  Men's Street Footwear              50                 1200
1  Philadelphia        Women's Apparel              68                   83
2  Philadelphia        Women's Apparel              75                  275
3      New York  Men's Street Footwear              34                  384
4  Philadelphia        Women's Apparel              53                   83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [341]:


# Show the total sales for the products sold for each region, state, and city.
grouped_sales = df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the "total_sales" column to "Total Sales"
grouped_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results based on Total Sales
top_five_sales = grouped_sales.nlargest(5, 'Total Sales')
print(top_five_sales)

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

#### Using `pivot_table`

In [342]:
# Show the total sales for the products sold for each region, state, and city.

sales_pivot = df.pivot_table(values='total_sales', index=['region', 'state', 'city'], aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"

sales_pivot.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.

top_five_sales = sales_pivot.nlargest(5, 'Total Sales')  # 'Total Sales' should be used if Step 2 is applied
print(top_five_sales)

                                        Total Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [343]:
# Show the total sales for the products sold for each retailer, region, state, and city.

total_sales_grouped = df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the "total_sales" column to "Total Sales"

total_sales_grouped.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.

top_five_sales = total_sales_grouped.nlargest(5, 'Total Sales')
print(top_five_sales)

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

#### Using `pivot_table`

In [344]:
# Show the total sales for the products sold for each retailer, region, state, and city.

sales_pivot = df.pivot_table(values='total_sales',
                             index=['retailer', 'region', 'state', 'city'],
                             aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"

sales_pivot.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.

top_five_sales = sales_pivot.sort_values(by='Total Sales', ascending=False).head(5)
print(top_five_sales)

                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [345]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_footwear_sales = df[df['product_type'] == "Women's Athletic Footwear"]

# Display the first few rows to verify the filtered data
print(womens_footwear_sales.head())

       retailer  retailer_id invoice_date     region         state  \
21  Foot Locker      1185732   2020-01-04  Northeast      New York
22  Foot Locker      1185732   2020-01-04  Northeast      New York
23  Foot Locker      1185732   2020-01-04  Northeast      New York
26    West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27    West Gear      1128299   2020-01-05  Northeast  Pennsylvania

            city               product_type  price_per_unit  \
21      New York  Women's Athletic Footwear              36
22      New York  Women's Athletic Footwear              41
23      New York  Women's Athletic Footwear              45
26  Philadelphia  Women's Athletic Footwear              45
27  Philadelphia  Women's Athletic Footwear              34

    Total_Products_Sold  total_sales  operating_profit sales_method
21                  281        10116           3742.92       Outlet
22                  247        10127           4658.42       Online
23                  850       382500         133875.00     In-store
26                  300       135000          47250.00       Outlet
27                   90         3060           1254.60       Outlet

#### Using `groupby`

In [346]:
#checking colums on file. Total_Products_Sold was replaced so couldnt find Units_sold

print(df.columns)


try:
    # Filter the DataFrame for Women's Athletic Footwear
    df_filtered = df[df['product_type'] == "Women's Athletic Footwear"]

    # Aggregate the total units sold for each retailer, region, state, and city
    grouped_sales = df_filtered.groupby(['retailer', 'region', 'state', 'city'])['Total_Products_Sold'].sum().reset_index()

    # Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
    grouped_sales.rename(columns={'Total_Products_Sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

    # Display the top 5 results
    top_five_sales = grouped_sales.nlargest(5, 'Womens_Footwear_Units_Sold')
    print(top_five_sales)
except KeyError as e:
    print(f"KeyError: Check if the column name {e} exists in DataFrame")

Index(['retailer', 'retailer_id', 'invoice_date', 'region', 'state', 'city',
       'product_type', 'price_per_unit', 'Total_Products_Sold', 'total_sales',
       'operating_profit', 'sales_method'],
      dtype='object')
          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [347]:
df_filtered = df[df['product_type'] == "Women's Athletic Footwear"]

# Use pivot_table to calculate the total units sold for each combination of retailer, region, state, and city
sales_pivot = df_filtered.pivot_table(values='Total_Products_Sold', 
                                      index=['retailer', 'region', 'state', 'city'], 
                                      aggfunc='sum')

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
sales_pivot.rename(columns={'Total_Products_Sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Reset the index to use nlargest more conveniently
sales_pivot_reset = sales_pivot.reset_index()

# Show the top 5 results based on Womens_Footwear_Units_Sold
top_five_sales = sales_pivot_reset.nlargest(5, 'Womens_Footwear_Units_Sold')
print(top_five_sales)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [348]:


# Create a pivot table with 'invoice_date' as the index and 'total_sales' as the values
sales_pivot = df.pivot_table(values='total_sales', index='invoice_date', aggfunc='sum')


# Show the table
print(sales_pivot)

              total_sales
invoice_date
2020-01-01         845141
2020-01-02         689410
2020-01-03         632573
2020-01-04         615080
2020-01-05         707829
...                   ...
2021-12-27         602353
2021-12-28         301010
2021-12-29         211109
2021-12-30         167903
2021-12-31         198659

[723 rows x 1 columns]

In [349]:
# Create a pivot table with 'invoice_date' as the index and 'total_sales' as the values
sales_pivot = df.pivot_table(values='total_sales', index='invoice_date', aggfunc='sum')

# Ensure 'invoice_date' is in datetime format
sales_pivot.index = pd.to_datetime(sales_pivot.index)

# Resample the pivot table into daily bins and get the total sales for each day
daily_sales = sales_pivot.resample('D').sum()

# Sort the resampled pivot table in descending order on "Total Sales"
sorted_daily_sales = daily_sales.sort_values(by='total_sales', ascending=False)

# Show the sorted table
print(sorted_daily_sales)

              total_sales
invoice_date
2021-07-16       12261098
2021-12-16       10871121
2021-06-17       10239903
2021-08-17        9517031
2021-07-23        7689134
...                   ...
2020-10-16              0
2020-10-15              0
2020-10-14              0
2020-10-13              0
2020-12-31              0

[731 rows x 1 columns]

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [350]:
# Ensure 'invoice_date' is in datetime format and 'total_sales' is numeric
df['invoice_date'] = pd.to_datetime(df['invoice_date'], errors='coerce')
df['total_sales'] = pd.to_numeric(df['total_sales'], errors='coerce')

# Drop rows with NaN values in 'invoice_date' or 'total_sales'
df = df.dropna(subset=['invoice_date', 'total_sales'])

# Create a pivot table with 'invoice_date' as the index and 'total_sales' as the values
sales_pivot = df.pivot_table(values='total_sales', index='invoice_date', aggfunc='sum')

# Resample the pivot table into weekly bins and get the total sales for each week
weekly_sales = sales_pivot.resample('W').sum()

#  Sort the resampled pivot table in descending order on "Total Sales"
sorted_weekly_sales = weekly_sales.sort_values(by='total_sales', ascending=False)

# Show the sorted table
print("\nSorted Weekly Sales:")
print(sorted_weekly_sales.head())

Sorted Weekly Sales:
              total_sales
invoice_date
2021-07-11       26271380
2021-07-18       24731702
2021-12-19       24698535
2021-12-12       23250286
2021-08-22       22225401